/* Add CSS Styling */

.ele1{
    color:white;
    background-color: black;
}

.ele2{
    background-color: yellow;
}

.ele1, .ele2{
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}